input.form-control {
  border-radius: 6px;
  background-color: $lightGrey;
  border: 1px solid $lightGrey;
  color: $white;
  font-family: 'Rubik';
  &:focus {
    background-color: lighten($color: $grey, $amount: 5);
    border-color: $white;
    color: $white;
    outline: none;
    box-shadow: none;
  }
}

.text-danger {
  color: $red !important;
}

.spinner-border {
  width: 60px;
  height: 60px;
}
