.movies-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto 0;
  max-width: 1200px;
  &__error {
    margin: 50px;
    text-align: center;
  }
}

.movies-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 300px;
}
